{
  // enable airbnb eslint from https://www.npmjs.com/package/eslint-config-airbnb
  "extends": "airbnb",
  "rules": {
    "arrow-body-style": "off",
    "camelcase": "off",
    "comma-dangle": "off",
    "consistent-return": [0, { "treatUndefinedAsUnspecified": true }],
    "max-len": "off",
    "no-await-in-loop": "off",
    "no-extraneous-dependencies": "off",
    "prefer-destructuring": [
      "error",
      { "AssignmentExpression": { "array": false } }
    ],
    "prefer-rest-params": "off",
    "prefer-template": "off"
  }
}
